<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="src">
            <directory>src/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
           <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>